@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&family=Lexend:wght@200;300;400&family=Work+Sans:wght@300;400;700&display=swap');

:root {
    /* --mainColor:  #d512d5;
    --lightMainColor:  #ef98ef;
    --headerColor: #f25524;  */
    --mainColor:  #0b0554;
    --lightMainColor:  #666299;
    --headerColor: #f25524; 
  }
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
}
ul{
    list-style: none;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
    color: #000;
}
.card{
    border: 0;
}
.text-blue{
    color: var(--mainColor) !important;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-outline-primary:hover{
    background-color: var(--mainColor);
    color: #fff;
    border-color: var(--mainColor);
}
.btn.btn-outline-primary{
    border-color:var(--mainColor);
    color: var(--mainColor);
}
.subheadings{
    color: var(--headerColor);;
    text-align: start;
    font-size: 42px;
    font-weight: 700;
}
.subtitle{
    font-size: 1.5rem;
    display: block;
}
::-webkit-scrollbar{
    display: none;
}
.bg-body-tertiary{
    background-color: var(--lightMainColor) !important;
}
.nav-link{
    padding: 28px 15px;
    transition: all 0.5s ease;
    position: relative;
    color: #fff;
}
.nav-item .nav-link img{
    transition: all 0.5s ease;
}
.nav-item:hover .nav-link img{
    transform: rotate(180deg);
}
.dropdown-menu .dropdown-item{
    padding: 0;
    color: #000;
}
.dropdown-menu li ul li{
    padding-bottom: 10px;
}
.dropdown-menu li ul li a{
    padding: 0 0 10px;
    white-space: normal;
}
.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none;
}
/* services css starts */
.services-tabs .nav-link{
    padding: 10px 30px;
    border-radius: 25px;
    color: #000;
}
.services-tabs .nav-link.active{
    background-color: var(--mainColor);
}
.services-tabs .servicestab-content .row .tab-pane-item{
    padding-top: 90px;
}
.services-tabs .card-icon{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    background-color: #fff;
}
.servicestab-content .card{
    padding: 60px 15px 15px 15px;
    border: 1px solid  var(--mainColor);
    height: 100%;
}
.servicestab-content .card p{
    font-size: 14px;
}
.servicestab-content .card img{
    /* height: 44px; */
}
.servicestab-content .shadow{
    box-shadow: 0 0rem 0.5rem 0.1rem rgb(0,0,0,0.15) !important;
}
/* services css ends */
.footer-logo img{
    height: 100px;
}
/* services css */
.cloud-title h3{
    color: #0195BB;
}
.services-grid{
    padding: 0px 0 40px;
}
.text-label{
    font-size: 1.5rem;
}
.text-label .span{
    color: var(--mainColor);
}
/* ends */
.bgImage{
    position: relative;
}
.cloud-title{
    position: sticky;
    top: 80px;
    padding: 10px 0;
    background-color: #fff;
}
/* animation css */
@keyframes slideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* animation css ends */
@media (min-width:999px){
    .offcanvas{
        display: contents;
    }
    .dropdown-menu{
        transform: scaleZ(0);
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        top: 100%;
        left: auto;
        right: 150px;
    }
    .nav-item:hover .dropdown-menu{
        border: 0;
        box-shadow: 0px 0px 4px rgb(0,0,0,0.15);
        padding: 20px;
        border-radius: 4px;
        text-align: left;
        transform: scaleZ(1);
        visibility: visible;
        opacity: 1;
        transition: all 0.6s;
        width: 40%;
    }
    .dropdown-menu .dropdown-item:hover{
        background-color: transparent;
    }
    .dropdown-menu .border-bottom{
        border-bottom-width: 2px !important;
        border-bottom-color: #000 !important;
    }
    .homeBanner .imageHeight{
        height: 500px;
    }
    .navbar-nav .nav-link:focus,.navbar-nav .nav-link:hover{
        color: #fff;
    }
}
@media (max-width:999px){
    .offcanvas.offcanvas-start{
        width: 326px;
    }
    .navbar-nav .nav-link{
        padding: 10px 15px;
    }
    .navbar-nav .nav-item{
        border-bottom: 2px solid #dee2e6;
    }
    .nav-item .dropdown-menu{
        display: block;
    }
    .services-tabs .nav-link{
        padding: 10px 12px;
    }
    .services-tabs .nav-pills{
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        /* justify-content: start !important; */
    }
    .service-btn{
        display: flex;
        justify-content: space-between;
    }
    .dropdown-menu{
        padding: 0;
    }
    .dropdown-menu .dropdown-item{
        font-size: 13px;
        font-weight: 600;
    }
    .dropdown-list{
        padding: 0 15px 0 15px;
    }
    .dropdown-list ul{
        padding-left: 20px;
        list-style: disc;
    }
    .customMbl-scroll{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .footer-logo{
        text-align: center;
    }
    .dropdown-menu{
        padding: 0 15px;
        border: 0;
    }
    .dropdown-menu li ul li a{
        font-size: 14px;
    }
    .btn-primary.fixed-bottom{
        font-size: 18px;
    }
    .cloud-title{
        background-color: #fff;
        padding: 10px 15px;
        /* box-shadow: 0 0 10px rgba(0,0,0,.1); */
    }    
    .services-grid {
        padding: 0px 0 20px;
    }
    .homeBanner .imageHeight{
        padding: 15px 0;
    }
}
